<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="ru">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
        <title> {{ titleDesc }}{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>